* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.my_clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.my_f_left {
    float: left;
}

.my_f_right {
    float: right;
}

.txt_white {
    color: #FFFFFF;
}

.general_box {
    display: flex;
    flex-direction: column;
}

.top_container {
    display: flex;
}

.content {
    width: calc(100vw - 200px);
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

/*zona modifica estetica scrollbar*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #c8c8c81a;
    border-radius: 6px;
}


/*colori background*/
.bg_aside {
    background-color: #000000;
}
.bg_section {
    background-color: #141922;
}
.bg_upgrade_bar {
    background-color: #080B12;
}
.bg_player_bar {
    background-color: #282828;
}
/*inizio sezione aside*/
.aside_size {
    height: calc(100vh - 80px);
    width: 200px;
    display: flex;
    flex-direction: column;
}
.logo > img {
    height: 40px;
    margin: 8px 0 8px 10px;
}
.home {
    padding: 0 0 10px 10px;
}
.playlist {
    flex-grow: 1;
    padding: 10px 0 10px 10px;
    overflow-y: scroll;
}
.home > ul > li {
    padding: 5px 0;
    vertical-align: middle; 
}
.playlist > ul > li {
    padding: 10px 0;
    vertical-align: middle;
}
.home > ul > li > a > img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
.home > ul > li > a,
.playlist > ul > li > a {
    text-decoration: none;
    color: #676767;
    font-weight: bold;
    font-size: 14px;
}

.home > ul > li > a:hover,
.playlist > ul > li > a:hover {
    font-size: 15px;
    color: #FFFFFF;
} 

.home > ul > li > .txt_white {
    color: #F8F8F8;
}
.user {
    width: 100%;
    padding: 10px;
    color: #676767;
}
.download {
    border-bottom: 1px solid grey;
}

.download, 
.username {
    padding: 5px 0;
}

.download > span:hover {
    color: #FFFFFF;
}
.small {
    font-size: 20px;   
}
.medium {
    font-size: 30px;
    vertical-align: middle;
}
.big {
    font-size: 50px;
    vertical-align: middle;
}
.logo.xs,
.home.xs {
    display: none;
}
@media screen and (max-width: 767px) {
    .content {
        width: fit-content;
    }
    .aside_size {
        min-width: 50px;
        width: 50px;
    }
    .logo,
    .home {
        display: none;
    }
    .logo.xs,
    .home.xs {
        display: inline-block;
    }
    .home.xs {
        padding: 0 0 0 12.5px; 
    }
    .logo > img {
        height: 30px;
    }
    .home.xs > ul > li > img {
        width: 25px;
        height: 25px;
        vertical-align: middle;
    }
    .playlist {
        visibility: collapse;
    }
    .download {
        border: none;
    }
    .download > span,
    .username > span {
        display: none;
    }
    .icon {
        visibility: visible;
    }
    .download > i {
      margin: 0 6.5px;  
    }
}
/*inizio sezione upgrade*/
.upgrade_bar {
    height: 60px;
}

.my_btn {
    margin: 12.5px 5px;
    padding: 9px 20px;    
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
}

.my_btn > a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
}

.my_btn > a:hover {
    font-size: 14px;
}

/*zona dischi*/
.section_size {
    flex-grow: 1;
}
.ghost_navbar > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 0;
 }
 
.ghost_navbar > ul > li {
    padding: 0 10px;
}
 
.ghost_navbar > ul > li > a {
    text-decoration: none;
    color: #7D7F84;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}
.ghost_navbar > ul > li > a:hover {
    color: #FFFFFF;
}
 
.green_bar {
    width: 27px;
    height: 2px;
    margin: 0 25px;
    background-color: #ADFF2F;
}
/*zona canzoni*/
.albums {
    padding: 10px;
}
.disc_sct {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0 15px 0;
}
.disc_box {
    width: calc(100% / 6);
    padding-right: 10px;
    flex-shrink: 2;
    text-align: center;
}
.disc_size {
    width: 100%;
    position: relative;
}

.photo {
    width: 100%;
}

.layover {
    position: absolute;
    width: 100%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.493);
    top: 0;
    left: 0;
    display: none; 
}
.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 50px;
    display: none;
}


.disc_size:hover .layover,
.disc_size:hover .play {
    display: block;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .disc_box {
        width: calc(100% / 4);
    }
}
@media screen and (min-width: 320px) and (max-width: 991px) {
    .disc_box {
        width: calc(100% / 2);
    }
}

/*footer pagina zona volume e player*/
.player_size {
    width: 100vw;
    height: 80px;
    display: flex;
}
.song_name {
    flex-basis: 25%;
    display: flex;
    align-items: center;
}
.album_picture {
    flex-basis: auto;
    padding: 0 10px;
}
.mini_photo {
    max-height: 50px;
}
.name {
    flex-basis: 100px;
}
.name > h5 > strong > a,
.name > h5 > small > a {
    text-decoration: none;
}

.name > h5 > small > a:hover {
    color: #FFFFFF;
}

.txt_grey {
    color: #7E7E7E; 
}

.favourites > a > i {
    padding-right: 10px;
    color: #FFFFFF;
}

.favourites > a >.heart:hover {
    color: red;
}

.favourites > a >.folder:hover {
    color: lightskyblue;
}

.player {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn_console {
    display: flex;
    align-items: center;
}
.btn_console > i {
   font-size: 20px;
   color: #FFFFFF;
   padding: 0 10px;
}
.btn_console > .play_fixed {
    font-size: 35px;
}

.btn_console > .play_fixed:hover {
    font-size: 40px;
}

.song_time {
    width: 100%;
    text-align: center;
}

.time_bar {
    display: inline-block;
    width: 70%;
    height: 5px;
    margin: 0 5px;
    background-color: #5A5A5A;
    border-radius: 5px;
    position: relative;
}

.time,
.volume {
    width: 30%;
    height: 5px;
    background-color: #C1C1C1;
    border-radius: 5px;
}

.dot_timer {
    width: 15px;
    height: 15px;
    background-color: #C1C1C1;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 135px;
    display: none;
}

.time_bar:hover .dot_timer {
    display: block;
}

.time_bar:hover .time {
    background-color: #ADFF2F;
}


.options {
    flex-basis: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.options > a > i {
    font-size: 15px;
    color: #FFFFFF;
    vertical-align: middle;
    padding: 0 10px;
}

.volume_bar {
    display: inline-block;
    width: 40%;
    height: 5px;
    background-color: #5A5A5A;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
}

.dot_audio {
    width: 15px;
    height: 15px;
    background-color: #C1C1C1;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 35px;
    display: none;    
}

.volume_bar:hover .volume {
    background-color: #ADFF2F;
}

.volume_bar:hover .dot_audio {
    display: block;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .song_name {
        flex-basis: 30%;
    }
    .song_time {
        width: 125%;
    }
    .time_bar {
        width: 60%;
    }
    .player {
        flex-basis: 40%;
    }
    .options {
        flex-basis: 30%;
    }
    .options > a > i {
        padding: 0 5px;
    }
}
@media screen and (min-width: 320px) and (max-width: 991px) {
    .song_name {
        flex-basis: 33%;
    }
    .song_time {
        width: 150%;
    }
    .time_bar {
        width: 40%;
    }
    .player {
        flex-basis: 34%;
    }
    .options {
        flex-basis: 33%;
    }
    .options > a > i {
        padding: 0 2.5px;
    }
}
