* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.general_box {
    display: flex;
    flex-direction: column;
}

.top_container {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
}

/*colori background*/
.bg_aside {
    background-color: #000000;
}
.bg_section {
    background-color: #141922;
}
.bg_upgrade_bar {
    background-color: #080B12;
}
.bg_player_bar {
    background-color: #282828;
}

.aside_size {
    width: 20vw;
    height: calc(100vh - 80px);
}
.section_size {
    width: 80vw;
    flex-grow: 1;
}

.player_size {
    width: 100vw;
    height: 80px;
}

.upgrade_bar {
    width: 80vw;
    height: 60px;
}